/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 45rem;
  max-width: 90%;
  padding: 1rem;
}

.overlay ul {
  padding: 0;
  margin: 0;
}

.active {
  overflow-y: scroll;
  height: 15rem;
}

.overlay li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 2px solid #8a4011;
  margin-top: 2rem;
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
}

.numbers {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.price {
  color: #8a4011;
  font-weight: 700;
}

.amount {
  padding: 0.2rem 0.7rem;
  border: 1px solid gray;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  color: #8a4011;
  background-color: white;
  width: 3rem;
  height: 2rem;
  font-size: 1rem;
  border: 1px solid #8a4011;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  color: white;
  background-color: #8a4011;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 700;
}

.btns {
  display: flex;
  justify-content: end;
}

.btns button {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color: #8a4011;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
} */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
